<div class="mb-3">
  <label for="filterText" class="form-label">Araba Ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Araba">
</div>
<div *ngIf="filterText.length>2" class="alert alert-success">
  {{filterText}} aradınız
</div>

  <div class="row">
    <div
      *ngFor="let cardetail of cardetails | carFilter:filterText"
      class="card text-dark bg-light mb-2"
      style="max-width: 15rem;"
    >
      <img
        src="{{ imageBasePath }}{{ cardetail.imagePath }}"
        class="card-img-top"
        alt="thumbnail"
        width="100"
        height="200"
      />
  
        <div class="card-body">
        <h5 class="card-title">
           {{ cardetail.brandName |uppercase }}  
        </h5>
        <p class="card-text">{{ cardetail.descriptions }}</p>
      </div>
  
    <ul class="list-group list-group-flush">
      
           
      <li class="list-group-item">Renk: {{ cardetail.colorName }}</li>
      <li class="list-group-item">Model: {{ cardetail.modelYear }}</li>
      <li class="list-group-item">Günlük Fiyat: {{ cardetail.dailyPrice }} ₺</li>
      
    </ul>
  
      
    </div>
  </div>
  <br />


