<div * ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
 
  <div class="row">
    <div *ngFor="let cardetail of cardetails">
      <img  src="{{imageBasePath}}{{cardetail.imagePath}}" class="rounded mx-auto d-block" alt="thumbnail" width="500" height="300"><br><br>
      <table class="table table-Secondary table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Marka</th>
            <th scope="col">Renk</th>
            <th scope="col">Açıklama</th>
            <th scope="col">Günlük Fiyat: </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{cardetail.id}}</th>
            <td>{{cardetail.brandName}}</td>
            <td>{{cardetail.colorName}}</td>
            <td>{{cardetail.descriptions}}</td>
            <td>{{cardetail.dailyPrice}} ₺</td>
            <td>    
            <div class="d-grid gap-1 col-4 mx-auto">
               
               <button type="button" class="btn btn-success" routerLink="rentals" (click)="rentTest(cardetail)">Kirala</button>
            </div></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <br>
    