<div * ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <h5><p class="font-weight-bold">ARABALAR</p></h5>
<table *ngIf="dataLoaded==true" class="table">
  <thead>
    <tr>
      <th class="table-primary">Id</th>
      <th class="table-primary">Marka Id</th>
      <th class="table-primary">Color Id</th>
      <th class="table-primary">Model Yılı</th>
      <th class="table-primary">Günlük Fiyat</th>
      <th class="table-primary">Açıklamalar</th>
    </tr>
  </thead>

  <tr *ngFor="let car of cars">
    <td>{{ car.id }}</td>
    <td>{{ car.brandId }}</td>
    <td>{{ car.colorId }}</td>
    <td>{{ car.modelYear }}</td>
    <td>{{ car.dailyPrice }}</td>
    <td>{{ car.descriptions }}</td>
  </tr>
</table>
