<div class="content">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Araç Renk Güncelle</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="colorUpdateForm">

            <label for="colorId">Renk Id</label>
            <div class="form-group">
              <input type="number" id="colorId" 
              formControlName="colorId" class="form-control" 
              placeholder="Id" />
            </div>

            <label for="colorName">Renk Adı</label>
            <div class="form-group">
              <input type="text" id="colorName" 
              formControlName="colorName" class="form-control" 
              placeholder="Renk" />
            </div>

          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-fill btn-dark" (click)="update()">Güncelle</button>
        </div>
      </div>
    </div>
  </div>